@import "@fontsource/playfair-display";
@import "@fontsource/lora";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Lora', serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: white;
  color: black;
}